{
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 11
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off",
    "comma-dangle": 0
  }
}
  